<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.slidebox">

    <application
        android:name=".Home"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MyProfile.Edit.ProfileEditActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
         ></activity>
        <activity
            android:name=".SignUp"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.shop.ShoppingCart" />
        <activity
            android:name=".SettingsPrivacyPolicy"
            android:parentActivityName=".SlideBox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".SettingsTos"
            android:parentActivityName=".SlideBox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".SettingsAbout"
            android:parentActivityName=".SlideBox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".MyProfile.MyProfile"
            android:parentActivityName=".SlideBox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MyAccountOptions" />
        <activity
            android:name=".HelpOptions"
            android:parentActivityName=".SlideBox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".SettingsOptions"
            android:parentActivityName=".SlideBox"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ui.reusables.ReusablesItemAdd" />
        <activity android:name=".ui.reusables.ReusablesItemRmv" />
        <activity
            android:name=".LogIn"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SlideBox" android:theme="@style/AppTheme.NoActionBar" />
      <!--- <activity android:name=".ui.recyclables.RecyclablesFragment" /> -->
    </application>

</manifest>